.formContainer{
    display: flex;
    flex-direction: column;
    button{
        width: 40vh;
        margin-left: 0px;
    }
}
.formContainer>div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    label{
        margin-bottom: 5px;
    }
}
.formTitleContainer{
    margin-top: 20px;
    
}
.formTitleContainer>input{
    width: 40vh;
}