.navBar{
    display: flex;
}
.applogo{
    display: flex;
    align-items: center;
    height: 10vh;
    flex:1;
    color: white;
}
.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 10vh;
    flex:5;
}